
@{
    ViewData["Title"] = "UserHome";
}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-action="Logout">Sign Out</a>
    </li>
</ul>

<h2>UserHome</h2>
<h3>This is user home page</h3>

